# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer:  The dbo.books tables is the LEFT table, and the dbo.to\_read is the RIGHT table

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: When the clause WHERE tr.user\_id IS NOT NULL is added, this returned results for the column user\_id in the dbo.to\_read table that are NOT NULL.

In [83]:

-- Query 1: LEFT JOIN 
SELECT TOP 5 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 5 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

title,average_rating,books_count,user_id,book_id
One Night at the Call Center,2.47,25,NULL,NULL
The Almost Moon,2.67,63,NULL,NULL
The Finkler Question,2.76,45,NULL,NULL
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613

title,average_rating,books_count,user_id,book_id
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: The dbo.books table is the LEFT table, and the dbo.to\_read is the RIGHT table

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: In table one, the query uses a LEFT JOIN instead of a RIGHT JOIN. By using the RIGHT JOIN, this instead returns all connected rows, and unconnected rows from the RIGHT table. Which gives us the NULL values on the left side instead.

In [84]:

-- Query 1: RIGHT JOIN
SELECT TOP 5 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: The FULL join returns unmatche rows from both tables as well as the overlap between them. When no matching rows exist for a row in the left tables, the columns of the right tables will have NULs for those records. same for no matching rows of the right. You would want to use a FULL join rather than the INNER joins, when you would want to either compare two tables structures, explore for mismatched "orphaned" data, from both of the tables and want all of the results set, not just matches.

In [85]:

-- FULL JOIN
SELECT TOP 20 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE tr.book_id IS NOT NULL

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,4
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",4.2,257,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13
NULL,NULL,NULL,2,16
NULL,NULL,NULL,2,92
Dune Messiah (Dune Chronicles #2),3.86,140,2,106
NULL,NULL,NULL,2,113
NULL,NULL,NULL,2,233
NULL,NULL,NULL,2,247
NULL,NULL,NULL,2,380
NULL,NULL,NULL,2,408
NULL,NULL,NULL,2,439
NULL,NULL,NULL,2,479

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer: Returns results with matching rows in both tables</span>

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span>      

> Your Answer:  No, because the query is using an INNER JOIN and this means it will only return results with match rows (NOT NULL)

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.
> 
> \\\> I took out the Where clause since it is redundant.
> 
> \\\> We want all of the columns in dbo.to\_read so I changed the two columns to tr.\* instead.
> 
> \\> AND Remove the BookDB. from the INNER JOIN

In [86]:

-- INNER JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.*
FROM dbo.books AS b
INNER JOIN dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,552,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,644,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,754,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,826,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1043,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1205,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1442,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1470,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1712,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1814,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,1919,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2051,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2052,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2158,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2160,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2345,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2476,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2523,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2623,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,2673,1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Start by joining the </span> **books** <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">and </span> **book\_tags**     <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>        <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.
> 
> **Title: Harry Potter and the Sorcerer's Stone (Harry Potter, #1) with 786374 TAGS**

**Part B:** How many different tags have been used for the most tagged book?

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span>     **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span>     **book\_tags**     <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>        We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span>    
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id: 30574</b></span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag?</span>

> You may return this answer with a simple query.

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span>    
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name: to-read</b></span>

In [87]:
-- Code Here:
SELECT TOP 5 b.title AS Most_Tagged, SUM(bt.count) AS Total_Tags
FROM dbo.books as b
LEFT JOIN dbo.book_tags as bt
ON b.best_book_id = bt.goodreads_book_id
GROUP BY b.title
ORDER BY SUM(bt.count) DESC

--Want to add bt.tag_id in the first Output but not sure why it does not work
SELECT TOP 1 bt.tag_id, b.title
FROM dbo.books as b
LEFT JOIN dbo.book_tags as bt
ON b.best_book_id = bt.goodreads_book_id
WHERE b.title LIKE '%Sorcerer%'

Most_Tagged,Total_Tags
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",786374
"The Girl with the Dragon Tattoo (Millennium, #1)",679219
The Alchemist,675971
All the Light We Cannot See,600025
Les Misérables,597465

tag_id,title
30574,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"

In [88]:
SELECT TOP 1*
FROM dbo.tags
WHERE tag_id = 30574

tag_id,tag_name
30574,to-read

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id:** 
> 
> **\\\>fantasy: TAG ID #11305**

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used:** 
> 
> **\\>The Eye of the World: tag count 13093**

In [ ]:
-- Code Here:
SELECT *
FROM dbo.tags
WHERE tag_name LIKE '%fantasy%'

In [80]:
SELECT TOP 25 b.title, bt.tag_id, bt.count 
FROM dbo.books as b 
LEFT JOIN dbo.book_tags as bt 
ON b.best_book_id = bt.goodreads_book_id
WHERE bt.tag_id = 11305
ORDER BY bt.count DESC

title,tag_id,count
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",11305,47478
The Hobbit,11305,41786
"Harry Potter and the Chamber of Secrets (Harry Potter, #2)",11305,39501
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",11305,39330
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",11305,38378
"Harry Potter and the Deathly Hallows (Harry Potter, #7)",11305,37296
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",11305,37174
"The Fellowship of the Ring (The Lord of the Rings, #1)",11305,31618
"A Clash of Kings (A Song of Ice and Fire, #2)",11305,26321
"The Two Towers (The Lord of the Rings, #2)",11305,22700
"A Storm of Swords (A Song of Ice and Fire, #3)",11305,22080
"The Return of the King (The Lord of the Rings, #3)",11305,21885
"A Feast for Crows (A Song of Ice and Fire, #4)",11305,21423
"The Name of the Wind (The Kingkiller Chronicle, #1)",11305,20679
"The Lion, the Witch, and the Wardrobe (Chronicles of Narnia, #1)",11305,19280
"Eragon (The Inheritance Cycle, #1)",11305,18952
"The Golden Compass (His Dark Materials, #1)",11305,18539
"A Dance with Dragons (A Song of Ice and Fire, #5)",11305,18409
"The Lightning Thief (Percy Jackson and the Olympians, #1)",11305,16461
"The Final Empire (Mistborn, #1)",11305,15166
"Twilight (Twilight, #1)",11305,14288
Stardust,11305,14088
"The Lord of the Rings (The Lord of the Rings, #1-3)",11305,13690
"The Eye of the World (Wheel of Time, #1)",11305,13093
Neverwhere,11305,12777

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer:
> 
> \\\> book\_id/best\_book\_id

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [81]:
-- Code Here:
SELECT TOP 15 b.title, COUNT(tr.user_id) AS total_saved
FROM dbo.to_read AS tr 
INNER JOIN dbo.books as b 
ON tr.book_id = b.best_book_id
GROUP BY b.title 
ORDER BY total_saved DESC

title,total_saved
The Ultimate Hitchhiker's Guide to the Galaxy,1812
The Lord of the Rings: The Art of The Fellowship of the Ring,1499
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",1498
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",1484
The Known World,1352
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",1293
The Lord of the Rings: Weapons and Warfare,1211
Notes from a Small Island,1148
"Harry Potter Collection (Harry Potter, #1-6)",1110
"The Lord of the Rings (The Lord of the Rings, #1-3)",1094
"The Salmon of Doubt (Dirk Gently, #3)",1069
Dune Messiah (Dune Chronicles #2),1051
Treasure Island,1040
Tropic of Cancer,1007
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",973

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.
> 
> \\> User ID is 14771 with 15 titles 

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [82]:
-- Code Here:
SELECT TOP 10 COUNT(user_id) as "Books_Saved_By_User", user_id 
FROM dbo.books as b 
LEFT JOIN to_read as tr 
ON tr.book_id = b.book_id
GROUP BY user_id
ORDER BY [Books_Saved_By_User] DESC;

SELECT title 
FROM to_read as tr
LEFT JOIN books as b 
ON tr.book_id = b.book_id
WHERE user_id = 14771 
AND title IS NOT NULL;

Books_Saved_By_User,user_id
15,12483
15,11932
15,14771
15,38201
14,37359
14,36923
14,27933
14,41523
13,25930
13,25734

title
"The Fellowship of the Ring (The Lord of the Rings, #1)"
"Harry Potter and the Order of the Phoenix (Harry Potter, #5)"
"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings
In a Sunburned Country
A Widow for One Year
Tropic of Cancer
The Iliad/The Odyssey
The Lost Continent: Travels in Small Town America
The New York Trilogy
The Lord of the Rings: The Art of The Fellowship of the Ring
The Known World
Ten Apples Up On Top!
Leviathan
What to Expect the First Year (What to Expect)